<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expert_m.spaceinvaders" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameOverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
